# vim: set noexpandtab:

[alias]
	br = branch
	cm = commit
	co = checkout
	lg = log --oneline
	st = status -s

[color]
	ui = auto

[commit]
	gpgsign = true

[core]
	excludesfile = ~/.gitignore_global

[filter "lfs"]
	clean    = git-lfs clean -- %f
	process  = git-lfs filter-process
	required = true
	smudge   = git-lfs smudge -- %f

[gitsh]
	defaultCommand = status -s
	prompt         = "(gitsh) %D %c%B%#%w"

[url "git@github.com:"]
	InsteadOf = https://github.com/

[user]
	email      = tomoya.y@icloud.com
	name       = Tomoya Yoshioka
	signingkey = 29B6837670D094111FB1200C5E1B7273D8E42DB7
