[user]
name = Tomoya Yoshioka
email = tomoya.y@icloud.com
signingkey = 29B6837670D094111FB1200C5E1B7273D8E42DB7

[core]
ignorecase = false

[commit]
gpgsign = true

[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f

[color]
ui = auto
